<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="gitignore=.gitignore"/>
        <listEntry value="gitattributes=.gitattributes"/>
        <listEntry value="archetypeGroupId=dev.orne"/>
        <listEntry value="archetypeArtifactId=pom-project-archetype"/>
        <listEntry value="archetypeVersion=0.8.3"/>
        <listEntry value="groupId=com.myproject"/>
        <listEntry value="artifactId=my-app"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.myproject.my_app"/>
        <listEntry value="outputDirectory=C:\Users\nikin\OneDrive\Desktop\15-08-2k25_workspace\maven_project"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\nikin\AppData\Local\Temp\m2e-archetypeGenerator11151724165921420294"/>
</launchConfiguration>
